/* Fonts */

@font-face {
  font-family: OpenSans;
  src: url(../);
}

/* signin page styling */
.signin_cont {
  display: flex;
  width: 100%;
}

.signin_left {
  width: 70%;
  height: 100vh;
  background-color: #d93032;
  position: relative;
}
.signin_right {
  width: 30%;
}
.signin_left img {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%)
}
.signin_right h1 {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  margin-top: 15%;
  color: #202020;
}
.signin_right p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #464646;
}
.signcont {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 30%;
}
.signcont input,
select {
  width: 60%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
  margin-top: 6%;
}
.signcont button {
  width: 60%;
  height: 46px;

  background: #d93032;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}

/* dash styling */
.dashcont {
  display: flex;
}
.dashleft {
  width: 20%;
}
.dashright {
  width: 80%;
}

/* ==== sidebar styling ===*/
.sidecontmain {
  height: 100%;
}
.sidetopcont {
  height: 15%;
}
.sidetopcont img {
  margin-top: 15%;
  margin-left: 5%;
  width: 200px;
  height: 80px;
}
.sidecont2 {
  padding-top: 5%;
  background-color: #d93032;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sideitemp {
  margin-top: 5%;
  background-color: #fff;
  cursor: pointer;
}
.sideitemp p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #d93032;
  text-align: center;
}
.sideitem {
  margin-top: 8%;
  cursor: pointer;
}
.sideitem p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

/* navbar styling */

.navbarcont {
  height: 15%;
  width: 100%;
  background-color: #d93032;
  margin: 0;
}
.navcont {
  display: flex;
  justify-content: space-between;
  padding-top: 8%;
  padding-bottom: 0;
}
.navl {
  width: 75%;
}
.navr {
  width: 25%;
  display: flex;
  gap: 10%;
}
/* ==== dashboard styling === */

.dashtop {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    grid-gap: 20px;
}

.dashtopitem {
  width: 300px;
  border-radius: 12px;
  padding-top: 10px;
}

.dashtopitem img {
  display: block;
  margin: auto;

}
.dashtopitem p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #f4f4f4;
  text-align: center;
  margin-top: 10px;
}

.dashmid {
  display: flex;
  justify-content: space-between;
}
.dashml h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #000000;
}
.dashmr button {
  width: 180px;
  height: 40px;
  background: #d93032;
  border-radius: 8px;
  border: none;
  margin-top: 14%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

.dashtable {
  margin-top: 3%;
  border-collapse: collapse;
  width: 100%;
  font-size: 1em;
  font-family: Arial, sans-serif;
}
.dashtable th,
td {
  text-align: left;
}
.incB {
  color: red;
}
.compB {
  color: #299403;
}

/*=== total check points =====*/

.totalchtop1 {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.totalchtop1 button {
  background: #d93032;
  border-radius: 4px;
  color: #fff;
  border: none;
}
.totalchtop h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #000000;
  margin-left: 5%;
  margin-bottom: 0;
}
.totalchtop img {
  margin-left: 5%;
  margin-top: 0;
  width: 95%;
}
.totalchcont {
  margin-top: 2%;
}
.totalchcont h3 {
  margin-left: 5%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #000000;
}
.totalchcont2 {
  margin-top: 2%;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.totalchcont2 input {
  width: 40%;
  height: 36px;
  background: #ffffff;
  border: 1px solid #2a3a8f;
}
.totalchcont2r {
  display: flex;
  gap: 10px;
  width: 30%;
}
.totalchcont2r button {
  width: 60%;
  height: 32px;
  background: #d93032;
  border: 1px solid #d93032;
  border-radius: 4px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.totalchcont3 {
  display: flex;
  gap: 10px;
  margin-top: 3%;
}
.totalchcont3l {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.totalchcont3r {
  width: 85%;
}

.totalchcont3rtop {
  display: flex;
  justify-content: space-between;
}
.totalchcont3rtopl {
  width: 50%;
  display: flex;
  gap: 20%;
}
.totalchcont3rtopl p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 0;
}

.totalchcont3rtopr button {
  width: 30%px;
  height: 39px;
  background: #d93032;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}
.totalchcont3litems {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}
.it2 {
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.it1 {
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.totalchcont3rmid {
  background: #ffffff;
  margin-top: 3%;
}
.totalchmidbox {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  height: 90px;
}
.totach3rtable {
  width: 100%;
}
.totalchmidbox button {
  background: #d93032;
  border-radius: 4px;
  width: 142px;
  height: 40px;
  margin-top: 2%;
  border: none;
}
.totalchmidbox h4 {
  margin-top: 3%;
  margin-left: 3%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #000000;
}

/* === total sites styling ====*/
.totalsitecont h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 0;
  margin-left: 3%;
}
.totalsitecont img {
  width: 90%;
  margin-top: 0;
  margin-left: 3%;
}
.totalsitecont2head {
  display: flex;
  gap: 20px;
  margin-left: 3%;
  margin-top: 2%;
}
.dandaimg {
  margin-left: 3%;
  width: 94%;
}
.acthead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  cursor:pointer;
}
.pashead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  cursor:pointer;
}
.totalsitetable {
  width: 95%;
  margin-left: 0.01%;
  margin-top: 1%;
}
.totalsitetable th {
  width: 20%;
}
.totalsitetable td {
  width: 20%;
}
.totalsitetable button {
  width: 95%;
  height: 35px;
  background: #d93032;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: none;
}

.totalinspeccont {
  display: flex;
  margin-left: 3%;
  gap: 40px;
}
.totalinspeccontl {
  display: flex;
  gap: 20px;
  width: 60%;
}
.totalinspeccontr {
  display: flex;
  gap: 20px;
  width: 40%;
}
.btn1 {
  width: 45%;
  height: 39px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
}
.btn2 {
  width: 45%;
  height: 39px;
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
}

.searchtext {
  margin-top: 2%;
  margin-left: 3%;
  width: 50%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #2a3a8f;
}

.privacycont1 {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-top: 2%;
}
.privacycont1 button {
  width: 121px;
  height: 35px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.privacycont2 {
  margin-top: 1%;
  margin-left: 3%;
  width: 70%;
}

.termscont {
  margin-top: 2%;
  margin-left: 3%;
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.termscont2 {
  display: flex;
  justify-content: space-between;
}
.termscont2 label {
  display: flex;
}
.termscont2 button {
  width: 15%;
  height: 35px;
  background-color: #d93032;
  border-radius: 4px;
  margin-top: 0.5%;
  border: none;
  color: #fff;
}

/* popup forms styling ====== */
.tsform1 {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 0.01%;
  margin-top: 1%;
}
.tsformitem {
  width: 24%;
}
.tsformitem label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.tsformitem input {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
}

.tsform2 {
  display: flex;
  gap: 10px;
  margin-top: 1%;
}
.tsformitem2 {
  width: 32.5%;
  display: flex;
  flex-direction: column;
}
.tsformitem2 label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.tsformitem2 input {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
}

.tsform3 {
  display: flex;
  margin-top: 1%;
}
.tsform3 label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.tsform3 input {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
}
.tsformbtn {
  margin-top: 5%;
  margin-left: 30%;
}

.tsformbtn button {
  width: 40%;
  height: 40px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.taform3 {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.taform3l {
  width: 49%;
  display: flex;
  gap: 10px;
}
.taform3r {
  width: 49%;
}
.taform3lp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.taform3lp input {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
  width: 80%;
}
.xyz {
  height: 40px;
  width: 40%;
  background-color: #d93032;
  border-radius: 4px;
  border: none;
  margin-top: 4%;
}

.totalreiewit {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/* === welcome styling ===*/
.welcomecont {
  background: #d93032;
  height: 100vh;
  width: 100%;
}

.welcomecont img {
  margin-top: 12%;
  margin-left: 43%;
}
.welcomecont h1 {
  text-align: center;
  margin-top: 2%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

/*==== Notifications ====*/

.notecont {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 2%;
}
.notecont button {
  width: 20%;
  height: 39px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.notecont2 {
  margin-top: 3%;
  margin-left: 3%;
}
.notecont2 img {
  margin-top: 0;
}

.notecont3 {
  margin-top: 2%;
}
.noteitem {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  width: 90%;
}
.notel {
  width: 60%;
}
.noter {
  width: 40%;
}
.noteitem img {
  margin-top: 2%;
  width: 40px;
  height: 40px;
}
.mobilebar {
  display: none;
}

/* === profile styling ===*/
.profile1 img {
  margin-top: 2%;
  margin-left: 3%;
}
.profile2 {
  display: flex;
  margin: 2%;
  justify-content: space-between;
}
.profile2l {
  width: 30%;
}
.leftprf {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftprf img {
  width: 100px;
  height: 100px;
}
.profile2r {
  width: 70%;
}
.profile3r {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profileitm {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.itm1 {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.itm1 input {
  background: #ffffff;
  width: 100%;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.profilepass {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.passl {
  width: 90%;
}
.passl input {
  background: #ffffff;
  width: 100%;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 55%;
}
.passr {
  width: 10%;
}
.passr button {
  background: #d93032;
  border-radius: 4px;
  width: 70%;
  border: none;
  color: #fff;
}
.itm2 {
  width: 50%;
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 3%;
}
.c {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
  width: 20%;
}
.s {
  background: #d93032;
  border-radius: 4px;
  width: 20%;
  color: #fff;
}

.popupform {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  gap: 20px;
}
.popupform button {
  width: 40%;
  height: 40px;
  align-items: center;
  margin-left: 30%;
  background-color: #d93032;
  color: white;
  border: none;
  border-radius: 4px;
}
.formitm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formitm input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}
.tcbtn {
  background: #d93032;
  border-radius: 4px;
  color: #fff;
}

/* total check top 2 styling */
.totalch2top {
  display: flex;
  flex-direction: column;
  margin: 3% 3%;
}
.totalch2top h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}
.totalch2top img {
  width: 100%;
}
.totalch2top2 {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}
.totalch2top2l {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.totalch2top2l label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
.totalch2top2l input, select {
  width: 100%;
  height: 40px;
  background: #f4f4f4;
  border-radius: 12px;
  border: none;
}
.totalch2top h5 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}

.totalch2mid {
  display: flex;
  gap: 10px;
  margin: 3%;
}
.totalch2midl {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.totalch2midl label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.totalch2midl input {
  width: 100%;
  height: 40px;
  background: #f4f4f4;
  border-radius: 12px;
  border: none;
}
.totalch2midl textarea {
  background: #f4f4f4;
  border-radius: 12px;
  border: none;
}
.totalch2mid2 {
  display: flex;
  gap: 20px;
  margin: 3%;
}
.totalch2mid2l {
  display: flex;
  flex-direction: column;
  width: 32%;
}
.totalch2mid2l label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
.totalch2mid2l input {
  width: 100%;
  height: 40px;
  background: #d9d9d9;
  border-radius: 12px;
  border: none;
}
.totalchbelow {
  margin: 6% 3%;
}
.totalchbelow table {
  width: 100%;
}
.totalchbelowbtn {
  display: flex;
  margin-top: 2%;
  margin-left: 20%;
  gap: 10px;
}
.totalchbelowbtn button {
  width: 15%;
  height: 40px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-bottom: 3%;
}
.tcpopup1 img {
  width: 40%;
  height: 70px;
}
.tcpopup2 h5 {
  margin-top: 20px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #d93032;
}
.tcpopup3 {
  display: flex;
  gap: 10px;
}
.tcpopup3l {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tcpopup3l label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.tcpopup3l input {
  background: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border: none;
  width: 99%;
  height: 40px;
}
.tcpopup3r {
  width: 30%;
}
.tcpopup3r button {
  background: #ffffff;
  border: 1px solid #d93032;
  border-radius: 4px;
  color: #d93032;
  height: 40px;
  width: 50%;
}
.tcpopup5 {
  display: flex;
  justify-content: space-between;
}
.tcpopup5r {
  display: flex;
  width: 30%;
  gap: 10px;
}
.tcpopup5rbtn1 {
  width: 40%;
  height: 40px;
  background: #d93032;
  border-radius: 4px;
  border: none;
  color: #fff;
}
.tcpopup5rbtn2 {
  width: 40%;
  height: 40px;
  background: #fff;
  border: 1px solid #d93032;
  border-radius: 4px;
  color: #d93032;
}

.totalsitebtns {
  display: flex;
  gap: 40px;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  padding-bottom: 40px;
}
.totalsitebtn1 {
  width: 25%;
  height: 40px;
  background-color: #d93032;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.totalsitebtn2 {
  width: 25%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d93032;
  border-radius: 4px;
}
/* Report Styling */
.reportcont{
  margin-top:3%;
  margin-left:2%;
  margin-bottom:0;
}
.reportcont2{
  margin-top:2%;
  display:flex;
  justify-content: space-between;
  margin-left:2%;
}
.reportcont2l{
  width:50%;
  display:flex;
  gap:20px;
}
.reportcont2litm{
  display:flex;
  flex-direction:column;
  width:40%;
}
.reportcont2litm button{
  background: #D93032;
  border-radius: 4px;
  color:#fff;
  border:none;
  height:40px;
}

.reportcont3{
  display:flex;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top:3%;
  flex-direction:column;
}
.reportcont3 h3{
  margin-top:3%;
  margin-left:2%;
}
.reporttable{
  margin-top:5%;
  margin-left:2%;
  margin-bottom:4%;
  width:100%;
}
.reporttable button{
  background: #D93032;
  width:80%;
  height:40px;
  color:#fff;
  border:none;

}

/* efwkoonfe oefqwnie*/

/*  client form styling*/
.clientform{
  display:flex;
  flex-direction:column;
  margin-top:3%;
  margin-left:20%;
  width:60%;
  gap:20px;
}
.clientformitm{
  display:flex;
  flex-direction:column;
  width:100%;
}
.clientformitm input{
  height:40px;
  border-radius:4px;
  border:1px solid #D93032;
}
.clientformitm button{
  width:50%;
  margin-left:25%;
  height:40px;
  border-radius:4px;
  background-color: #D93032;
  color:#fff;
  border:none;
}

/* ===== temrs styling ====*/
.termsform{
  display:flex;
  flex-direction:column;
  margin:4%;
  gap:20px;
}
.termsform input{
  width:100%;
  height:40px;
  border-radius:4px;
  border:1px solid #D93032;
}
.termsform button{
  width:40%;
  height:40px;
  margin-left:25%;
  border-radius:4px;
  background-color:#D93032;
  color:#fff;
  border:none;
}

@media (max-width: 600px) {
  .mobilebar {
    display: block;
  }
  .dashleft {
    display: none;
    width: 0%;
  }
  .dashright {
    width: 100%;
  }
  .mobilesidecont {
    background-color: #d93032;
    height: 1000px;
    width: 100%;
  }
  .mobilesideitem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .mobileitem {
    color: #fff;
    margin-top: 10px;
  }
  .signin_left {
    display: none;
  }
  .signin_right {
    width: 100%;
  }
  .navbarcont {
    height: 13%;
    width: 100%;
    background-color: #d93032;
    margin: 0;
  }
  .navcont {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-bottom: 0;
  }
}
